oscars/rm/BSS/service/BSS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BSS" targetNamespace="http://oscars.es.net/BSS/" xmlns:tns="http://oscars.es.net/BSS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://oscars.es.net/BSS/">
      <xsd:element name="soap_delete_reservationResponse" type="xsd:string"/>
      <xsd:element name="soap_delete_reservationRequest" type="xsd:string"/>
            <xsd:element name="soap_create_reservationResponse" type="xsd:string"></xsd:element>
            <xsd:element name="soap_create_reservationRequest" type="xsd:string"></xsd:element>
            <xsd:element name="soap_get_reservationsResponse" type="xsd:string"></xsd:element>
            <xsd:element name="soap_get_reservationsRequest" type="xsd:string"></xsd:element>
            <xsd:element name="soap_logout_userResponse" type="xsd:string"></xsd:element>
            <xsd:element name="soap_logout_userRequest" type="xsd:string"></xsd:element>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="soap_delete_reservationResponse">
    <wsdl:part name="soap_delete_reservationResponse" element="tns:soap_delete_reservationResponse"/>
  </wsdl:message>
  <wsdl:message name="soap_delete_reservationRequest">
    <wsdl:part name="soap_delete_reservationRequest" element="tns:soap_delete_reservationRequest"/>
  </wsdl:message>
  <wsdl:message name="soap_create_reservationResponse">
  	<wsdl:part name="soap_create_reservationResponse"
  		element="tns:soap_create_reservationResponse">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="soap_create_reservationRequest">
  	<wsdl:part name="soap_create_reservationRequest"
  		element="tns:soap_create_reservationRequest">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="soap_get_reservationsResponse">
  	<wsdl:part name="soap_get_reservationsResponse"
  		element="tns:soap_get_reservationsResponse">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="soap_get_reservationsRequest">
  	<wsdl:part name="soap_get_reservationsRequest"
  		element="tns:soap_get_reservationsRequest">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="soap_logout_userResponse">
  	<wsdl:part name="soap_logout_userResponse"
  		element="tns:soap_logout_userResponse">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="soap_logout_userRequest">
  	<wsdl:part name="soap_logout_userRequest"
  		element="tns:soap_logout_userRequest">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BSS">
    <wsdl:operation name="soap_delete_reservation">
      <wsdl:input message="tns:soap_delete_reservationRequest"/>
      <wsdl:output message="tns:soap_delete_reservationResponse"/>
    </wsdl:operation>
    <wsdl:operation name="soap_create_reservation">
    	<wsdl:input message="tns:soap_create_reservationRequest"></wsdl:input>
    	<wsdl:output message="tns:soap_create_reservationResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soap_get_reservations">
    	<wsdl:input message="tns:soap_get_reservationsRequest"></wsdl:input>
    	<wsdl:output message="tns:soap_get_reservationsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="soap_logout_user">
    	<wsdl:input message="tns:soap_logout_userRequest"></wsdl:input>
    	<wsdl:output message="tns:soap_logout_userResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BSSSOAP" type="tns:BSS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="soap_delete_reservation">
            <soap:operation soapAction="http://oscars.es.net/BSS/soap_delete_reservation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
      <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="soap_create_reservation"><soap:operation soapAction="http://oscars.es.net/BSS/soap_create_reservation"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body use="literal"/></wsdl:output></wsdl:operation>
        <wsdl:operation name="soap_get_reservations"><soap:operation soapAction="http://oscars.es.net/BSS/soap_get_reservations"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body use="literal"/></wsdl:output></wsdl:operation>
        <wsdl:operation name="soap_logout_user"><soap:operation soapAction="http://oscars.es.net/BSS/soap_logout_user"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body use="literal"/></wsdl:output></wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="BSS">
    <wsdl:port name="BSSSOAP" binding="tns:BSSSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
