oscars/htdocs/service/OSCARS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OSCARS"
	targetNamespace="http://oscars.es.net/OSCARS/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://oscars.es.net/OSCARS/">

	<wsdl:documentation>
		This is WSDL for the OSCARS public reservation interface. DRAFT
		V0.1 April 20, 2006
	</wsdl:documentation>

	<!-- Element and Type definitons -->
	<wsdl:types>
		<xsd:schema targetNamespace="http://oscars.es.net/OSCARS/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://oscars.es.net/OSCARS/">

			<xsd:element name="createReservationResponse"
				type="tns:resDetailsType" />
			<xsd:element name="createReservationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userLogin"
							type="tns:userLoginType" />
						<xsd:element name="resReq"
							type="tns:resReqType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="cancelReservationResponse"
				type="xsd:string" />
			<xsd:element name="cancelReservationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userLogin"
							type="tns:userLoginType" />
						<xsd:element name="resTag"
							type="tns:resTagType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="listReservationsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="resInfo"
							type="tns:resInfoType" maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listReservationsRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userLogin"
							type="tns:userLoginType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="queryReservationResponse"
				type="tns:resDetailsType" />
			<xsd:element name="queryReservationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userLogin"
							type="tns:userLoginType" />
						<xsd:element name="resTag"
							type="tns:resTagType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="forwardResponse" type="xsd:string"></xsd:element>
			<xsd:element name="forwardRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userLogin"
							type="tns:userLoginType" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="payload">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:choice>
										<xsd:element name="createReq"
											type="tns:resReqType">
										</xsd:element>
										<xsd:element name="cancelRes"
											type="tns:resTagType">
										</xsd:element>
										<xsd:element name="queryRes"
											type="tns:resTagType">
										</xsd:element>
									</xsd:choice>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="createReservationOSCARSException"
				type="tns:OSCARSExceptionType" />
			<xsd:element name="cancelReservationOSCARSException"
				type="tns:OSCARSExceptionType" />
			<xsd:element name="queryReservationOSCARSException"
				type="tns:OSCARSExceptionType" />
			<xsd:element name="listReservationsOSCARSException"
				type="tns:OSCARSExceptionType" />
			<xsd:element name="forwardOSCARSException"
				type="xsd:string">
			</xsd:element>


			<!--  Types  -->

              <xs:simpleType name="createRouteDirectionType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="forward"/>
                    <xs:enumeration value="reverse"/>
                </xs:restriction>
            </xs:simpleType>

			<xsd:complexType name="resReqType">
				<xsd:sequence>
					<xsd:element name="srcHost" type="xsd:string" />
					<xsd:element name="destHost" type="xsd:string" />
					<xsd:element name="startTime" type="xsd:dateTime" />
					<xsd:element name="endTime" type="xsd:dateTime" />
					<xsd:element name="origTimeZone" type="xsd:string" />
					<xsd:element name="bandwidth" type="xsd:int" />
					<xsd:element name="description" type="xsd:string" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="ingressRouterIP" type="xsd:string" maxOccurs="1" minOccurs="0" />
                    <xsd:element name="egressRouterIP" type="xsd:string" maxOccurs="1" minOccurs="0" />
                    <!-- forward means create path from src to dst, reverse
                    means create path from dst to src (done by switching src &
                    dst when you reach dst and setting this to forward-->
                    <xsd:element name="createRouteDirection" type="createRouteDirectionType" />
					<xsd:element name="protocol"
						type="tns:resProtocolType" maxOccurs="1" minOccurs="0" />
					<xsd:element name="srcPort" type="xsd:int"
						maxOccurs="1" minOccurs="0" />
					<xsd:element name="destPort" type="xsd:int"
						maxOccurs="1" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="resInfoType">
				<xsd:sequence>
					<xsd:element name="tag" type="xsd:string" />
					<xsd:element name="srcHost" type="xsd:string" />
					<xsd:element name="destHost" type="xsd:string" />
					<xsd:element name="startTime" type="xsd:dateTime" />
					<xsd:element name="endTime" type="xsd:dateTime" />
					<xsd:element name="status" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="resDetailsType">
				<xsd:sequence>
					<xsd:element name="tag" type="xsd:string" />
					<xsd:element name="loginName" type="xsd:string" />
					<xsd:element name="srcHost" type="xsd:string" />
					<xsd:element name="destHost" type="xsd:string" />
					<xsd:element name="startTime" type="xsd:dateTime" />
					<xsd:element name="endTime" type="xsd:dateTime" />
					<xsd:element name="origTimeZone" type="xsd:string" />
					<xsd:element name="createTime" type="xsd:string" />
					<xsd:element name="bandwidth" type="xsd:int" />
					<xsd:element name="burstLimit" type="xsd:string" />
					<xsd:element name="resClass" type="xsd:string" />
                    <!-- list of routers (hops) -->
					<xsd:element name="path" type="xsd:string" />
					<xsd:element name="description" type="xsd:string"
						maxOccurs="1" minOccurs="0" />
					<xsd:element name="protocol"
						type="tns:resProtocolType" maxOccurs="1" minOccurs="0" />
					<xsd:element name="srcPort" type="xsd:int"
						maxOccurs="1" minOccurs="0" />
					<xsd:element name="destPort" type="xsd:int"
						maxOccurs="1" minOccurs="0" />
					<xsd:element name="ingressRouter" type="xsd:string"
						maxOccurs="1" minOccurs="0" />
					<xsd:element name="egrressRouter" type="xsd:string"
						maxOccurs="1" minOccurs="0" />
                    <!-- control inteterfaces on routers -->
					<xsd:element name="ingressLoopbackIP" type="xsd:string"
						maxOccurs="1" minOccurs="0" />
					<xsd:element name="egressLoopbackIP" type="xsd:string"
						maxOccurs="1" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="resProtocolType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="udp" />
					<xsd:enumeration value="tcp" />
				</xsd:restriction>
			</xsd:simpleType>

			<xsd:complexType name="OSCARSExceptionType">
				<xsd:sequence>
					<xsd:element name="msg" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="userLoginType">
				<xsd:sequence>
					<xsd:element name="loginName" type="xsd:string" />
					<xsd:element name="password" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:simpleType name="resTagType">
				<xsd:restriction base="xsd:string" />
			</xsd:simpleType>
		</xsd:schema>
	</wsdl:types>

	<!--   Message definitions -->
	<wsdl:message name="createReservationResponse">
		<wsdl:part name="createReservationResponse"
			element="tns:createReservationResponse" />
	</wsdl:message>
	<wsdl:message name="createReservationRequest">
		<wsdl:part name="createReservationRequest"
			element="tns:createReservationRequest" />
	</wsdl:message>

	<wsdl:message name="cancelReservationResponse">
		<wsdl:part name="cancelReservationResponse"
			element="tns:cancelReservationResponse" />
	</wsdl:message>
	<wsdl:message name="cancelReservationRequest">
		<wsdl:part name="cancelReservationRequest"
			element="tns:cancelReservationRequest" />
	</wsdl:message>

	<wsdl:message name="queryReservationResponse">
		<wsdl:part name="queryReservationResponse"
			element="tns:queryReservationResponse" />
	</wsdl:message>
	<wsdl:message name="queryReservationRequest">
		<wsdl:part name="queryReservationRequest"
			element="tns:queryReservationRequest" />
	</wsdl:message>

	<wsdl:message name="listReservationsResponse">
		<wsdl:part name="listReservationsResponse"
			element="tns:listReservationsResponse" />
	</wsdl:message>
	<wsdl:message name="listReservationsRequest">
		<wsdl:part name="listReservationsRequest"
			element="tns:listReservationsRequest" />
	</wsdl:message>

	<wsdl:message name="forwardResponse">
		<wsdl:part name="forwardResponse"
			element="tns:forwardResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="forwardRequest">
		<wsdl:part name="forwardRequest" element="tns:forwardRequest" />
	</wsdl:message>

	<wsdl:message name="cancelReservationOSCARSException">
		<wsdl:part name="cancelReservationOSCARSException"
			element="tns:cancelReservationOSCARSException" />
	</wsdl:message>

	<wsdl:message name="createReservationOSCARSException">
		<wsdl:part name="createReservationOSCARSException"
			element="tns:createReservationOSCARSException" />
	</wsdl:message>

	<wsdl:message name="queryReservationOSCARSException">
		<wsdl:part name="queryReservationOSCARSException"
			element="tns:queryReservationOSCARSException" />
	</wsdl:message>

	<wsdl:message name="listReservationsOSCARSException">
		<wsdl:part name="listReservationsOSCARSException"
			element="tns:listReservationsOSCARSException" />
	</wsdl:message>

	<wsdl:message name="forwardOSCARSException">
		<wsdl:part name="forwardOSCARSException"
			element="tns:forwardOSCARSException">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="OSCARS">
		<wsdl:operation name="createReservation">
			<wsdl:input message="tns:createReservationRequest" />
			<wsdl:output message="tns:createReservationResponse" />
			<wsdl:fault name="OSCARSException"
				message="tns:createReservationOSCARSException" />

		</wsdl:operation>
		<wsdl:operation name="cancelReservation">
			<wsdl:input message="tns:cancelReservationRequest" />
			<wsdl:output message="tns:cancelReservationResponse" />
			<wsdl:fault name="OSCARSException"
				message="tns:cancelReservationOSCARSException" />

		</wsdl:operation>
		<wsdl:operation name="queryReservation">
			<wsdl:input message="tns:queryReservationRequest" />
			<wsdl:output message="tns:queryReservationResponse" />
			<wsdl:fault name="OSCARSException"
				message="tns:queryReservationOSCARSException" />

		</wsdl:operation>
		<wsdl:operation name="listReservations">
			<wsdl:input message="tns:listReservationsRequest" />
			<wsdl:output message="tns:listReservationsResponse" />
			<wsdl:fault name="OSCARSException"
				message="tns:listReservationsOSCARSException" />
		</wsdl:operation>

		<wsdl:operation name="forward">
			<wsdl:input message="tns:forwardRequest"></wsdl:input>
			<wsdl:output message="tns:forwardResponse"></wsdl:output>
			<wsdl:fault name="OSCARSException"
				message="tns:forwardOSCARSException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="OSCARSSOAP" type="tns:OSCARS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="createReservation">
			<soap:operation style="document"
				soapAction="createReservation" />
			<wsdl:input>
				<soap:body use="literal"
					parts="createReservationRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					parts="createReservationResponse" />
			</wsdl:output>
			<wsdl:fault name="OSCARSException" />
		</wsdl:operation>

		<wsdl:operation name="queryReservation">
			<soap:operation style="document"
				soapAction="queryReservation" />
			<wsdl:input>
				<soap:body use="literal"
					parts="queryReservationRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					parts="queryReservationResponse" />
			</wsdl:output>
			<wsdl:fault name="OSCARSException" />
		</wsdl:operation>

		<wsdl:operation name="listReservations">
			<soap:operation style="document"
				soapAction="listReservations" />
			<wsdl:input>
				<soap:body use="literal"
					parts="listReservationsRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					parts="listReservationsResponse" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="cancelReservation">
			<soap:operation
				soapAction="http://oscars.es.net/OSCARS/cancelReservation" />
			<wsdl:input>
				<soap:body use="literal"
					parts=" cancelReservationRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"
					parts=" cancelReservationResponse" />
			</wsdl:output>
			<wsdl:fault name="OSCARSException">
				<soap:fault use="literal" name="OSCARSException" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="forward">
			<soap:operation
				soapAction="http://oscars.es.net/OSCARS/forward" />
			<wsdl:input>
				<soap:body use="literal" parts=" forwardRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts=" forwardResponse" />
			</wsdl:output>
			<wsdl:fault name="OSCARSException">
				<soap:fault use="literal" name="OSCARSException" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="OSCARS">
		<wsdl:port name="OSCARSSOAP" binding="tns:OSCARSSOAP">
			<soap:address location="http://localhost:8090/OSCARS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
