conf/public/server/OSCARS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OSCARS"
    targetNamespace="http://oscars.es.net/OSCARS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:tns="http://oscars.es.net/OSCARS">

    <wsdl:documentation>
        This is WSDL for the OSCARS public reservation interface. These
        messages must be signed using the following WS-secuirty
        standards. The message is time stamped and includes the X.509
        certificate of the signing entity. The timestamp, certificate
        and message body are all signed. DRAFT V1.0 Nov 2006
    </wsdl:documentation>

    <!-- Element definitons -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://oscars.es.net/OSCARS"
            elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://oscars.es.net/OSCARS">
            <xsd:include schemaLocation="OSCARS.xsd" />
        </xsd:schema>
    </wsdl:types>

    <!--   Message definitions -->

    <wsdl:message name="createReservation">
        <wsdl:part name="createReservation"
            element="tns:createReservation">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createReservationResponse">
        <wsdl:part name="createReservationResponse"
            element="tns:createReservationResponse" />
    </wsdl:message>

    <wsdl:message name="cancelReservation">
        <wsdl:part name="cancelReservation"
            element="tns:cancelReservation">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="cancelReservationResponse">
        <wsdl:part name="cancelReservationResponse"
            element="tns:cancelReservationResponse" />
    </wsdl:message>

    <wsdl:message name="queryReservation">
        <wsdl:part name="queryReservation"
            element="tns:queryReservation" />
    </wsdl:message>
    <wsdl:message name="queryReservationResponse">
        <wsdl:part name="queryReservationResponse"
            element="tns:queryReservationResponse" />
    </wsdl:message>

    <wsdl:message name="listReservations">
        <wsdl:part name="listReservations"
            element="tns:listReservations">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="listReservationsResponse">
        <wsdl:part name="listReservationsResponse"
            element="tns:listReservationsResponse" />
    </wsdl:message>

    <wsdl:message name="forward">
        <wsdl:part name="forward" element="tns:forward" />
    </wsdl:message>
    <wsdl:message name="forwardResponse">
        <wsdl:part name="forwardResponse"
            element="tns:forwardResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="AAAFaultMessage">
        <wsdl:part name="fault" element="tns:AAAFault" />
    </wsdl:message>

    <wsdl:message name="BSSFaultMessage">
        <wsdl:part name="fault" element="tns:BSSFault" />
    </wsdl:message>


    <wsdl:portType name="OSCARS">
        <wsdl:operation name="createReservation">
            <wsdl:input message="tns:createReservation" />
            <wsdl:output message="tns:createReservationResponse" />
            <wsdl:fault name="AAAErrorException"
                message="tns:AAAFaultMessage" />
            <wsdl:fault name="BSSErrorException"
                message="tns:BSSFaultMessage" />
        </wsdl:operation>

        <wsdl:operation name="cancelReservation">
            <wsdl:input message="tns:cancelReservation"></wsdl:input>
            <wsdl:output message="tns:cancelReservationResponse" />
            <wsdl:fault name="AAAErrorException"
                message="tns:AAAFaultMessage" />
            <wsdl:fault name="BSSErrorException"
                message="tns:BSSFaultMessage" />
        </wsdl:operation>

        <wsdl:operation name="queryReservation">
            <wsdl:input message="tns:queryReservation" />
            <wsdl:output message="tns:queryReservationResponse" />
            <wsdl:fault name="AAAErrorException"
                message="tns:AAAFaultMessage" />
            <wsdl:fault name="BSSErrorException"
                message="tns:BSSFaultMessage" />
        </wsdl:operation>

        <wsdl:operation name="listReservations">
            <wsdl:input message="tns:listReservations" />
            <wsdl:output message="tns:listReservationsResponse" />
            <wsdl:fault name="AAAErrorException"
                message="tns:AAAFaultMessage" />
            <wsdl:fault name="BSSErrorException"
                message="tns:BSSFaultMessage" />
        </wsdl:operation>


        <wsdl:operation name="forward">
            <wsdl:input message="tns:forward"></wsdl:input>
            <wsdl:output message="tns:forwardResponse"></wsdl:output>
            <wsdl:fault name="AAAErrorException"
                message="tns:AAAFaultMessage" />
            <wsdl:fault name="BSSErrorException"
                message="tns:BSSFaultMessage" />
        </wsdl:operation>



    </wsdl:portType>

    <wsdl:binding name="OSCARSSOAP" type="tns:OSCARS">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="createReservation">
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/createReservation" />
            <wsdl:input>
                <soap:body use="literal" parts="createReservation" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="createReservationResponse" />
            </wsdl:output>
            <wsdl:fault name="AAAErrorException">
                <soap:fault name="AAAErrorException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="BSSErrorException">
                <soap:fault name="BSSErrorException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="queryReservation">
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/queryReservation" />
            <wsdl:input>
                <soap:body use="literal" parts="queryReservation" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="queryReservationResponse" />
            </wsdl:output>
            <wsdl:fault name="AAAErrorException">
                <soap:fault name="AAAErrorException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="BSSErrorException">
                <soap:fault name="BSSErrorException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="listReservations">
            <soap:operation style="document"
                soapAction="http://oscars.es.net/OSCARS/listReservations" />
            <wsdl:input>
                <soap:body use="literal" parts="listReservations" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="listReservationsResponse" />
            </wsdl:output>
            <wsdl:fault name="AAAErrorException">
                <soap:fault name="AAAErrorException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="BSSErrorException">
                <soap:fault name="BSSErrorException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="cancelReservation">
            <soap:operation
                soapAction="http://oscars.es.net/OSCARS/cancelReservation" />
            <wsdl:input>
                <soap:body use="literal" parts="cancelReservation" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                    parts="cancelReservationResponse" />
            </wsdl:output>
            <wsdl:fault name="AAAErrorException">
                <soap:fault use="literal" name="AAAErrorException" />
            </wsdl:fault>
            <wsdl:fault name="BSSErrorException">
                <soap:fault name="BSSErrorException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="forward">
            <soap:operation
                soapAction="http://oscars.es.net/OSCARS/forward" />
            <wsdl:input>
                <soap:body use="literal" parts="forward" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="forwardResponse" />
            </wsdl:output>
            <wsdl:fault name="AAAErrorException">
                <soap:fault use="literal" name="AAAErrorException" />
            </wsdl:fault>
            <wsdl:fault name="BSSErrorException">
                <soap:fault name="BSSErrorException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="OSCARS">
        <wsdl:port name="OSCARS" binding="tns:OSCARSSOAP">
            <soap:address
                location="https://oscars-dev.es.net:9090/axis2/services/OSCARS" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
